{% extends "game/layout.html" %}
{% load static %}

{% block style %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{%static 'game/snake/style.css'  %}">
{% endblock %}

{% block title %} Snake {% endblock %}
{% block header %} Snake Game {% endblock %}


{% block body %}
<div >
            
   

   

    
   

    
      <p>Do you want to pass through walls? </p>
        <button id="yes" onclick="setWalls()">No</button>
        <button id="no" onclick="noWalls()">Yes</button>
        
    <script>
    
    

    let gameOn = false;

    function startGame() {
        console.log("gameOn is " + gameOn);
        gameOn = true;
        console.log("Name is " + playername +  " and gameOn is " + gameOn);
        snakey.movement(1, 0);
        console.log("snakey.pos: " + snakey.x + " snakey.ypos: " + snakey.y)
    }

    function setWalls() {
        snakey.walls = true;
        startGame();
    }

    function noWalls(){
        snakey.walls = false;
        startGame();
    }
    
    
    </script>
    </div>
    <script src="{%static 'game/sendData.js' %}" type=text/javascript></script>
    <script src="{%static 'game/snake/snake.js' %}" type=text/javascript></script>
    <script src="{%static 'game/snake/snakeClass.js' %}" type=text/javascript></script>
    


    


        
        
       
{% endblock %}

