{% extends "game/layout.html" %}
{% load static %}

{% block style %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{%static 'game/snake/style.css'  %}">
{% endblock %}

{% block title %} Snake {% endblock %}
{% block header %} Snake Game {% endblock %}


{% block body %}
    <script src="{%static 'game/snake/snake.js' %}" type=text/javascript></script>
    <script src="{%static 'game/snake/snakeClass.js' %}" type="text/javascript"></script>
{% endblock %}