
h1 {
    text-transform: uppercase;
    font-size: 6em;
}

.about {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    text-align: center;
    margin: 5% 2%;
}

img[type="picMe"] {
    opacity: 0.7;
    border-radius: 100%;
    max-width: 90%;
}

img[type="linkedin"] {
    width: 50px;
}

