{% extends "game/layout.html" %}
{% load static %}

{% block head %}
  <meta charset="UTF-8" />
  <title>Floopy fish</title>
  <!-- <script type="text/javascript" src="phaser.min.js"></script> -->
  <style>
    canvas {
      width: 100%;
    }
  </style>

{% endblock %}

{% block body %}
  <script>
    let fish = "{% static 'game/floppyFish/fish.png' %}";
    let pipet = "{% static 'game/floppyFish/pipey.png' %}";
    let pipeb = "{% static 'game/floppyFish/pipeyb.png' %}";
    let bird = "{% static 'game/floppyFish/bird.png' %}";
  </script>
  <script src="https://cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.min.js"></script>
  <script defer src="{%static 'game/floppyFish/fish.js' %}" type=text/javascript></script>
{% endblock %}