{% extends "game/layout.html" %}
{% load static %}

{% block title %} Eat the stars {% endblock %}
{% block header %}Eat the stars{% endblock %}

{% block body %}
    <script>
        let star = "{% static 'game/eat/assets/star.png' %}"
        let flower = "{% static 'game/eat/assets/monster(3).png' %}"
        let blood = "{% static 'game/eat/assets/blood.png' %}"
    </script>
    <script src="{%static 'game/eat/StartScene.js' %}" type=text/javascript></script>
    <script src="{%static 'game/eat/GameScene.js' %}" type=text/javascript></script>
    <script src="{%static 'game/eat/GameConfig.js' %}" type=text/javascript></script>
{% endblock %}