{% extends "game/layout.html" %}
{% load static %}

{% block head %}
  <meta charset="utf-8"/>
  <title>Catch the Cupcakes</title>
  <link rel="icon" href="assets/cupcake.png" type="image/icon type">
  <style>
    body {
      text-align: center;
    }

    h1 {
      color: #ce897b;
      font-size: 75px;
      text-align: center;
      margin-bottom: 0px;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.min.js"></script>
{% endblock %}

{% block body %}
  <h1>Catch the Cupcakes</h1>
  <script src="{%static 'game/catchCupcakes/start.js' %}" type=text/javascript></script>
  <script src="{%static 'game/catchCupcakes/GameScene.js' %}" type=text/javascript></script>
  <script src="{%static 'game/catchCupcakes/game.js' %}" type=text/javascript></script>
{% endblock %}