{% extends "game/layout.html" %}
{% load static %}

{% block title %} Catch cupcakes {% endblock %}
{% block header %} Catch cupcakes {% endblock %}

{% block body %}
  <script>
    let one = "{% static 'game/catchCupcakes/assets/one.png' %}";
    let two = "{% static 'game/catchCupcakes/assets/two.png' %}";
    let food = "{% static 'game/catchCupcakes/assets/cupcake.png' %}";

  </script>
  <script src="{%static 'game/catchCupcakes/start.js' %}" type=text/javascript></script>
  <script src="{%static 'game/catchCupcakes/GameScene.js' %}" type=text/javascript></script>
  <script src="{%static 'game/catchCupcakes/game.js' %}" type=text/javascript></script>
{% endblock %}