{% extends "game/layout.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/highscores/highscores.css' %}">
{% endblock %}

{% block title %} Scoreboard {% endblock %}
{% block header %} Scoreboard {% endblock %}

{% block addName %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="item">
            <div class="picGame">
                <a href="{% url 'game:snake' %}">
                    <img src="{% static 'game/snake/snake.png' %}" alt="snake">
                </a>        
            </div>
            <div class="scoreGame">
                <h2>Snake</h2>
                <ul id="score1">Mangler highscore-data..</ul>
            </div>
        </div>
        
        <div class="item">
            <div class="picGame">
                <a href="{% url 'game:eat' %}">
                    <img src="{% static 'game/eat/eat.png' %}" alt="Eat game">
                </a>
            </div>
            <div class="scoreGame">
                <h2>Eat the stars</h2>
                <ul id="score2">Mangler highscore-data..</ul>
            </div>
        </div>  

        <div class="item">
            <div class="picGame">
                <a href="{% url 'game:catchCupcakes' %}">
                    <img src="{% static 'game/catchCupCakes/catchCupcakes.PNG' %}" alt="catchCupCake">
                </a>
            </div>
            <div class="scoreGame">
                <h2>Catch cupcakes</h2>
                <ul id="score3">Mangler highscore-data..</ul>
            </div>
        </div>  

        <div class="item">
            <div class="picGame">
                <a href="{% url 'game:juggle' %}">
                    <img src="{% static 'game/juggle/juggle.png' %}" alt="juggle">
                </a>
            </div>
            <div class="scoreGame">
                <h2>Juggle</h2>
                <ul id="score4">Mangler highscore-data..</ul>
            </div>
        </div>  

        <div class="item">
            <div class="picGame">
                <a href="{% url 'game:floppyFish' %}">
                    <img src="{% static 'game/floppyFish/flappyfish.png' %}" alt="flappyfish">
                </a>
            </div>
            <div class="scoreGame">
                <h2>Floppy Fish</h2>
                <ul id="score5">Mangler highscore-data..</ul>
            </div>
        </div> 

        <div class="item">
            <div class="picGame">
                <a href="{% url 'game:fly' %}">
                    <img src="{% static 'game/fly/FLY.png' %}" alt="fly">
                </a>
            </div>
            <div class="scoreGame">
                <h2>Floppy Fish</h2>
                <ul id="score6">Mangler highscore-data..</ul>
            </div>
        </div> 
    </div>

    <script src="{% static 'game/highscores/highscores.js' %}"></script>
{% endblock %}


