<!DOCTYPE html>
{% load static %}
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title> LightGames - {% block title %}  {% endblock %}</title>
        <link rel="icon" href="{% static 'game/icon.png' %}" type="image/icon type">
        <link rel="stylesheet" href="{%static 'game/layout.css' %}"> 
        {% block style %} {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.min.js"></script>
    </head>
    
    <body>
        <!-- Navigeringsbar -->
        <nav class="nav">
            <a href="{% url 'game:index' %}" class="nav-button"><b>Home</b></a>
            <a href="{% url 'game:eat' %}" class="nav-button">Eat</a>
            <a href="{% url 'game:juggle' %}" class="nav-button">Juggle</a>
            <a href="{% url 'game:catchCupcakes' %}" class="nav-button">CatchCupcakes</a>
            <a href="{% url 'game:floppyFish' %}" class="nav-button">FlappyFish</a>
            <a href="{% url 'game:snake' %}" class="nav-button">Snake</a>
            <a href="{% url 'game:fly' %}" class="nav-button">Fly</a>
            <a href="{% url 'game:highscores' %}" class="nav-button"><b>Scoreboard</b></a>
            <a href="{% url 'game:aboutUs' %}" class="nav-button"><b>About</b></a>
        </nav>
        
        <h1 id="gameName">{% block header %} LightGames.no {% endblock %}</h1>
        <div id="gameDisplay">
            {% block addName %}
            <div id='username'>
                <label>Skriv inn navnet ditt:</label>
                <input type='text' id='name'>
                <button id="btn">Registrer</button>
            </div>
            
            <script src="{%static 'game/highscores/score.js' %}"></script>
            {% endblock %}

            {% block body %}
            {% endblock %}
        </div>

        <!-- Footer -->
        <footer class="footer">
            <a href="https://github.com/karolmny/LightGames">
                <img type="github" src="{% static 'game/aboutUs/github.png' %}">
            </a>
            <a href="https://www.netlight.com/">
                <img type="netlight" src="{% static 'game/aboutUs/netlight.png' %}">
            </a>

            <p>Laget av Rose Lu, Royce Lu og Karoline Nylænder</p>
        </footer>
    </body>
</html>
