{% extends "game/layout.html" %}
{% load static %}

{% block title %} Juggle {% endblock %}
{% block header %} Juggle {% endblock %}

{% block body %}
    <!--img src="{% static 'game/juggle/platform1.png' %}" alt="Eat game">
    <img src="{% static 'game/juggle/ball.png' %}" alt="Eat game" --->
    <script src="{%static 'game/sendData.js' %}" type=text/javascript></script>
  <script src="https://cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.min.js"></script>
  <script>
    let ball = "{% static 'game/juggle/ball.png' %}";
    let plat = "{% static 'game/juggle/platform1.png' %}";
  </script>
  <script src="{%static 'game/juggle/StartScene.js' %}" type=text/javascript></script>
  <script src="{%static 'game/juggle/GameScene.js' %}" type=text/javascript></script>
  <script src="{%static 'game/juggle/endScene.js' %}" type=text/javascript></script>
  <script src="{%static 'game/juggle/GameConfig.js' %}" type=text/javascript></script>
  





<!---div >
            
  <h3>Trigger Button Click on Enter</h3>
  <p>Press the "Enter" key inside the input field to trigger the button.</p>
  <p> Tekst om hvordan man spiller</p>

 

  <form id="nameform">
      name: <input name="name" type="text" placeholder="name" >
  </form>
  <button id="namebtn" onclick="outputName()">Save name</button>


  <script>
  var playerform= document.getElementById("nameform");
  var playername = playerform.elements["name"].value;

  function outputName(){
      //var playerform= document.getElementById("nameform");
      playername = playerform.elements["name"].value;
      console.log(playername);
     

  }


  
  </script>
  </div --->
{% endblock %}


