{% extends "game/layout.html" %}
{% load static %}

{% block title %} Juggle {% endblock %}
{% block header %} Juggle {% endblock %}

{% block body %}
    <!--img src="{% static 'game/juggle/platform1.png' %}" alt="Eat game">
    <img src="{% static 'game/juggle/ball.png' %}" alt="Eat game" --->
  <script>
    let ball = "{% static 'game/juggle/ball.png' %}";
    let plat = "{% static 'game/juggle/platform1.png' %}";
  </script>
  <script src="https://cdn.jsdelivr.net/npm/phaser@3.16.2/dist/phaser.min.js"></script>
  <script defer src="{%static 'game/juggle/juggle.js' %}" type=text/javascript>
    let ball = "{% static 'game/juggle/assets/ball.png'% }";
    let plat = "{% static 'game/juggle/assets/platform1.png'% }";
  </script>

    <div class="name">
            <h3>Trigger Button Click on Enter</h3>
            <p>Press the "Enter" key inside the input field to trigger the button.</p>
            <p> Tekst om hvordan man spiller</p>
    
             <input id="name" placeholder="name">
            <button onclick="javascript:alert('Hello World!')" id="namebtn">Save name</button>
    
            <script>
            var input = document.getElementById("name");
            input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("namebtn").click();
            }
            });
            </script>
        </div >
{% endblock %}